@charset "utf-8";

body {
    font-family: sans-serif;
    color: #29211F;
    background-color: #D3D3BB;
    /*background-color: #f0ffbe;*/
    line-height: 1.6;
    overflow: auto;
}
header {
    width: 80%;
    margin: auto;
    padding: auto;
    text-align: center;
    background-color: #FFFFFF;
}
.hootering {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    background-color: #FFFFFF;
}
hr {
    border: 2px #AAA;
    color: #FFFFFF;
    width: 100%;
}
mark {
    background-color: #CCCCCC;
}
.codeClass {
    background-color: #000803;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.2;
    padding: 10px;
}
pre {
    background-color: #000803;
    color: #FFFFFF;
    line-height: 1.0;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    overflow: auto;
}
code {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.0;
    width: 80%;
    overflow: auto;
}
div {
    width: 100%;
}
a {
    color: #140470;
    text-decoration: none;
}
a:hover {
    color: #10F167;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
}
p {
    font-size: 16px;
    margin: auto 0 auto 0;
    line-height: 1.6;
}
.headline {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}
.info {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}
.info p {
    font-size: 18px;
}
.main {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.main2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.link {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}
.license {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}
.license p {
    font-size: 14px;
}
article {
    width: 80%;
    background-color: #FFFFFF;
    margin: auto;
    padding: auto;
}
@media screen and (max-width: 480px) {
    body {
        font-family: sans-serif;
        color: #252222;
        background-color: #BCB1CC;
        /*background-color: #ffffbe;*/
        line-height: 1.4;
        margin: auto;
    }
    header {
        width: 94%;
        margin: auto;
        padding: auto;
        text-align: center;
        background-color: #FFFFFF;
    }
    .hootering {
        width: 94%;
        margin: auto;
        padding: auto;
        text-align: center;
        background-color: #FFFFFF;
    }
    hr {
        border: 2px #AAA;
        color: #FFFFFF;
        width: 94%;
        margin-left: 0px;
        margin-right: 0px;
    }
    h1 {
        font-size: 16px;
        margin-left: 0px;
        margin-right: 0px;
    }
    h2 {
        font-size: 14px;
        margin-left: 0px;
        margin-right: 0px;
    }
    p {
        font-size: 12px;
        margin: 0px;
        line-height: 1.2;
    }
    .headline {
        width: 94%;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }
    .info {
        width: 94%;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }
    .info p {
        font-size: 12px;
    }
    .main {
        width: 94%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .main2 {
        width: 94%;
        margin-left: 0;
        margin-right: 0;
    }
    .link {
        width: 94%;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        font-size: 12px;
    }
    .license {
        width: 94%;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }
    pre {
        background-color: #000803;
        color: #FFFFFF;
        line-height: 1.2;
        width: 94%;
        font-size: 12px;
        overflow: auto;
        margin-left: 0px;
        margin-right: 0px;
    }
    code {
        font-size: 12px;
        line-height: 1.2;
        width: 100%;
        overflow: auto;
        margin-left: 0px;
        margin-right: 0px;
        padding: 2px;
    }
    div {
        width: 96%;
    }
    article {
        width: 96%;
        margin: auto;
        padding: auto;
        background-color: #FFFFFF;
    }
}