@charset "utf-8";

body {
    font-family: sans-serif;
    line-height: 1.7;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
}
p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}
.headline {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}
.info {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}
.info p {
    font-size: 18px;
}
.main {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.link {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.license {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}
.license p {
    font-size: 14px;
}